{% macro endcap(name) %}
  <link name="{{ name }}">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="BlackRubber">
        <color rgba="0.0 0.0 0.0 1.0"/>
      </material>
    </visual>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.0005" />
      <!-- endcap has a negligeable inertia -->
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
    </inertial>
    <contact>
      <friction_anchor />
      <lateral_friction value="0.7" />
      <rolling_friction value="0.7" />
      <spinning_friction value="0.1" />
      <stiffness value="10000" />
      <damping value="1000" />
    </contact>
  </link>
{%- endmacro %}
